.backroundimg {
    background-image: url("https://via.placeholder.com/200");
    background-size: cover;
}

.info-card {
position: absolute;
transform: translateY(20px);
}

.custom-font{
    font-family: 'Rampart One', cursive;
  }

@media(max-width: 800px){
#disappear{display: none;
}